body{
  overflow-x: hidden;
}
*,
*:before,
*:after {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.section{
  display: none;
  position: absolute;
  right: 0;
  margin-right: 3%;
}
.wrapper-header.active{
  z-index: 9999;
}
header {
  height: 90px;
}
.nav {
  margin-top: 20px;
}
.logo {
  margin-left: 8%;
}
.wrapper-header{
  position: relative;
}
.nav_ul {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-right: 5%;
  margin-top: 5px;
}
body.active{
  overflow-y: hidden;
  overflow-x: hidden;
}
.nav_ul a {
  text-decoration: none;
  border: none;
}
.nav_ul a li{
  padding: 10px 10px;
  align-items: center;
  text-transform: uppercase;
  font-size: 13.5px;
  color: #868686;
  white-space: nowrap;
  margin: auto;
  border-radius: 3px;
}
li {
  list-style-type: none;
}
.nav_ul a li:focus{
  background: #ffbb42;
  color: white;
}
.nav_ul a li:hover {
    background: #ffbb42;
    color: white;

}
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #e1e3e6;
  border-radius: 50%;
  position: relative;
}
.menu-btn span{
  width: 20px;
  height: 2px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  position: relative;
  z-index: 10000;
  width: 20px;
  height: 2px;
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {

  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {

  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}
.slide-wrap{
  margin-left: -15px;
  margin-top: -20px;
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: -10;
}
#slide{
  display: none;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background-color: #222;
}
.section_h1{
  text-align: center;
  position: relative;
}
.section_h1 h1{
  padding-top: 100px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}
.col-lg-3 input{
  padding-left: 10px;
}
.col-lg-3 input, button{
  border-radius: 2px;
  margin: 10px;
  font-size: 16px;
  border: none;
  width: 255px;
  height: 40px;
}
.col-lg-3 button:hover{
  color:white;
}
.section_h1 p{
  color: #fff;
  font-size: 16px;
}
#container_section{
  height: 650px;
}
.section_s{
  max-width: 1920px;
}
.wrapper{
  height: 590px;
  max-width: 1920px;
  background-color: #709dca;
}
@media screen and (max-width: 1206px){
  .col-lg-3 input, button{
    width: 200px;
  }
}
@media screen and (max-width: 1019px) {
  .col-lg-3 input, button{
    width: 180px;
  }
  .nav_ul a li {
    font-size: 12.5px;
  }
  .nav_ul {
    margin-right: 5%;
  }
}
@media screen and (max-width: 991px){
  .col-lg-3 input, button{
    width: 480px;
  }
  .leptop{
    margin-top: 150px;
  }
}
@media screen and (max-width: 848px){
  .leptop {
    display: none;
  }
  .nav_ul{
    display: none;
    margin-right: 18%;
  }
  .section{
    display: block;
    margin-right: 7%;
  }
  .ro{
    display: flex;
    position: static;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 70px;
  }
  .ro a li{
    margin: auto;
    text-align: center;
    font-size: 20px;
    line-height: 2.5;
  }
}
@media screen and (max-width: 525px){
  .col-lg-3 input, button{
    width: 380px;
  }
  .section_h1 h1{
    font-size: 27px;
  }
  .section_h1 p{
    font-size: 14px;
  }
  .section_s{
    margin-top: -19px;
    
  }
}
@media screen and (max-width: 418px){
  .col-lg-3 input, button{
    width: 280px;
  }
}
